*{
  font-family: 'Josefin Sans', sans-serif;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #a5a4a4;
}

.logo{
  color: rgb(226,226,226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display:flex;
  justify-content:space-around inline;
  width: 30%;
}
.nav-links li{
  list-style: none;
  text-align: center;
  padding: 20px;
  display: inline;
}
.nav-links a{
  color:rgb(226,226,226);
  text-decoration: none;
  letter-spacing:4px;
  font-weight: bold;
  font-size: 14px;
}
a {
  color: #db5555;
}

a:hover, a:active, a:focus {
  color: #db5555;
  outline: none;
  text-decoration: none;
}
body{
  background-image: url("../img/fondo.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.content{
  min-height:calc(100vh- 300px- 100px);

}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #a5a4a4;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  margin-top: 180px;
  
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}


.register-btn {
  float: center;
  margin-right: 35px;
  font-size: 0.9em;
  width: 100%;
  background: none !important;
  border: none;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

/*--------------------------------------------------------------
# MAIN - LOGIN - REGISTER
--------------------------------------------------------------*/
.title-principal{
  color:white;
  width: 400px;
  margin: auto;
  font-size: 50px;
  text-align: center;
  text-shadow: 7px 5px 5px #24303c;
  margin-top: 20px;
 
}

.main{
  margin: auto;
  margin-top: 50px;
}


.login-form{
  width:400px;
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top:50px;
  margin-bottom: 55px;
  border-radius: 4px;

}

.login-form h2{
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  
}

.controls{
  width: 100%;
  background: #24303c;
  padding:10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #db5555;
}

.form-group{
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #db5555;
  font-size: 18px;
}

.form-group input{
  background: white;

}

 .botons{
  width: 100%;
  background-color: #db5555;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.options{
  width: 100%;
  border-radius: 4px;
  border: 1px solid #db5555;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.botons-chico{
  width: 25%;
  background-color: #db5555;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}


.modal-content{
  position:absolute;
  margin: 0px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
}

.modal{
  background-color: white 100%;
  margin: 0px auto;
  width: 800px;
  height: 750px;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  
}


.modal-body input{
  position:center;
  width: 80%;
  margin: 0px auto;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #db5555;
  font-size: 18px;
}
.options-modal{
  transform: translate(-50%, -50%);
}


.user {
 padding: 10px;
}

.modal-body .row{
  margin: auto auto; 
}

#listado{
  color: white;
}

.table{
  width: 95%;
  background-color: white;
  color:black;
  padding: 10px;
  margin: auto;
  border-spacing: 0;
  border: 1px solid #000;
}

.table th{
  font-size: 20px;
  font-style: inherit;
  background-color: #db5555;
  height: 40px;
  
  border: 1px solid #db5555;
}
th, td {
  width: 25%;
  text-align:center;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}

td .descriptions{
  text-align: justify;
}

#izq{
  float: left;
  width: 10%;
  margin-left: 40px;
  color: #db5555;
  background-color: #ccc;
  border: 1px solid white;
}

#der{
  float: right;
  width: 10%;
  margin-right: 40px;
  color: #db5555;
  background-color: #ccc;
  border: 1px solid white;
}

 .title-secondary{
  padding: 0.5em;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 40px; 
  text-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

#addmovie{
  margin-right: 40px;
  width: 10%;
  border: 1px solid white;
  font-size: 20px;
  color: #db5555;
  background-color: #ccc;
  
}
